* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    width: 100vw;
}

.navigation__logo {
    height: 30px;
}

.navigation__links--1,
.navigation__links--2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
}

.navigation__links--2 {
    margin-left: auto;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
