* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    width: 100vw;
}

/* NAVBAR STYLING */

.navigation__logo {
    height: 30px;
    margin-right: 25px;
    cursor: pointer;
}

.navigation__links--1,
.navigation__links--2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    font-size: 14px;
}

.navigation__links--2 {
    margin-left: auto;
}

.link {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

.link:hover {
    color: hsl(0, 0%, 8%);
}

.icon {
    display: flex;
    padding: 7px;
}

#btn {
    font-weight: 700;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

#btn:hover {
    border: 2px solid hsl(0, 0%, 8%);
}

/* MAIN SECTION STYLING  */

/* LEFT SIDE */

main {
    display: flex; 
    padding: 0 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container__text__heading {
    font-size: 80px;
    padding-right: 120px;
}

.container__text__text {
    font-size: 18px;
    line-height: 1.8;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    padding-right: 180px;
    margin: 40px 0;
}

.container__text__btn {
    align-self: flex-start;
    position: absolute;
    top: 65%;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    padding: 17px 30px;
    cursor: pointer;
}

.container__text__btn:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
}

.container__sponsors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container__sponsors > *:not(:first-child) {
    margin-left: 35px;
}

/* RIGHT SIDE */

.hero-desktop__image {
    max-height: 650px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 25px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
